
  
  .home-title::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; 
    inset: 0 0 0 0;  
    background: hsl(200, 29%, 67%);
    z-index: -1; 
    transition: transform .3s ease;
  }
  
  .home-title {
    position: relative;
    font-size: 4rem;
    z-index: 1;
  }

  .home-title::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  .home-title:hover{
    cursor: pointer;
  }
  
  .home-title:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  