
  
.home-container{
 /* background-image:url("https://www.shutterstock.com/shutterstock/photos/2436962677/display_1500/stock-photo-technical-support-strategies-for-effective-business-technology-assistance-and-maintenance-2436962677.jpg"); */
/* background-color: pink; */
}
  
  .home-title::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  .home-title:hover{
    cursor: pointer;
  }
  
  .home-title:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  